h1 {
  background-color: rgba(138, 5, 5, 0.705);
  color:blue;
  text-decoration: underline;
}
h2{
  background-color: rgba (138,5, 5, 0.705);
  color:blue;
}
h3{
  background-color: rgba (138,5, 5, 0.705);
  color:blue;
}
h4{
  background-color: rgba (138,5, 5, 0.705);
  color:blue;
}
h5{
  background-color: rgba (138,5, 5, 0.705);
  color:blue;
}
h6{
  background-color: rgba (138,5, 5, 0.705);
  color:blue;
  text-decoration: wavy;
}
p {
  color:blue;
}
iframe {
  background-color:grey;
}
